.our-service {
 padding: 0.7rem;
  background-color: #f8f9fa;
  /* margin-bottom: 2rem; */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-bottom: 0.73rem;
  border-color: rgba(0, 0, 0, 0.758);
  border-width: 0.1rem;
}


.service-description {
  flex: 1;
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.71);
  font: normal;
}
.title:hover{
  margin-left: 2rem;
  transition: 0.3s ease;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;  
  cursor: pointer;
}

.description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out, padding 0.1s ease-out;
}

.description.open {
  max-height: 200px; /* Adjust this value based on your content's height */
  padding-top: 10px;
  padding-bottom: 10px;
}

.description p {
  margin: 0;
  line-height: 1.6;
}

.title.active {
  color: #007bff; /* Change color when active */
}

.title.active + .description {
  display: block; /* Show description when active */
}
