/* Add this to your CSS file */
.hover-box {
    position: absolute;
    top: 100%;
    right: -60vw;
    
    width: 80vw;
    height: 20vh;
    background-color: white;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(-20px);
    z-index: -1;
}
  
.hover-box.visible {
    opacity: 1;
    transform: translateY(0);
}
  