

/* Show the image when hovering over the button */
.container:hover .hover-image {
    display: block;
}



/* Basic styling for the button */
.hover-button {
   
    transition: background-color 0.3s ease;
}

/* Styling for the image - initially hidden */
.hover-image {
    height: 150px;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%); /* Center the image */
    max-width: 150px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Show the image when hovering over the button */
.container:hover .hover-image {
    opacity: 1;
    visibility: visible;
}
