body{
    background-image: linear-gradient(to right top, #13072e, #13072e, #13072e, #13072e, #13072e);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    overflow-y: scroll; /* or auto */
    height: 100vh; /* or any other value */
}




